################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/obj
/.vs
/UnityProjectTemplate.sln
/Assembly-CSharp-Editor.csproj
/Temp
/Library
/*.apk
